<main class="py-3">
  <h1><%= Question.model_name.human count: 0 %></h1>

  <div class="py-2">
    <% if @questions.size > 0 %>
      <%= render 'questions', questions: @questions %>
    <% else %>
      <p>You dont have any poll</p>
    <% end %>
  </div>

  <%= link_to t('forms.question.submit'), new_question_path, class: 'btn btn-primary' %>
</main>
